body{
    font-size: 10px;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: brown;
}

h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Frank Ruhl Libre', serif;
    color: beige;
    margin: 140px;
    margin-right: 58px;
}
.card {
    width: 35vw;
    align-items: center;
    background-color: beige;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 30px 220px;


}


.flex-container{
    display: flex;
    justify-content: space-between;
}

.flex-container-2{
    display: flex;
    justify-content: space-between;
}
.flex-container-3{
    display: flex;
    justify-content: space-between;
}

.card-title{
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-img{
    width: 90%;

}
.card-desc{
    font-size: 2rem;
}
