body{
    font-size: 10px;
    box-sizing:border-box;
    margin: 50;
    padding: 0;
    text-align: center;
    background-color: brown;
}

h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Frank Ruhl Libre', serif;
    color: beige
    ;
}
.card{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:beige;
    justify-content: space-between;
}
.flex-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.card-title{
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-img{
    width: 90%;

}
.card-desc{
    font-size: 1.3rem;
}


